<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Container Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div id="topBackground"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Start your github project in a docker container!</h1>
                <h3>Paste your repository URL here and click Start!</h3>
                <p>Prerequisites:</p>
                <ul>
                    <li>The project has a Dockerfile in the root folder</li>
                    <li>Port number 3000 is exposed in the Dockerfile</li>
                </ul>
                <form id="form">
                    <div class="mb-3">
                        <label for="repositoryUrl" class="form-label">URL:</label>
                        <input type="text" class="form-control" id="repositoryUrl" aria-describedby="repositoryUrlHelp">
                        <div id="repositoryUrlHelp" class="form-text">Place here your repo URL.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Start!</button>
                </form>
            </div>
            <div id="repo" class="col-12 mt-3">
                <h3>Container successfully started! Visit here:</h1>
                <a id="visitContainer" class="btn btn-success" target="_blank">GO!</a>
            </div>
            <div id="tests" class="col-12 mt-3">
                <h4>Tests:</h4>
                <button id="increaseTest" class="btn btn-warning">Run increase test!</button>
                <p class="mt-3">Increased test passed: <span id="increaseTestPassed"></span> times</p>
                <button id="decreaseTest" class="btn btn-warning">Run decrease test!</button>
                <p class="mt-3">Decreased test passed: <span id="decreaseTestPassed"></span> times</p>
            </div>
            <div id="error" class="col-12">
                <h3>Something went wrong...</h3>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>